<!DOCTYPE html>
<html>
<head>
    <!-- <meta charset="utf-8"> -->
    <title>to join fill form</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style >
      .error{
        box-shadow: 0px 0px 20px 18px red;
      }
    </style>
    <!-- <style type="text/css">
        .helpfname{
          background-color: red;
        }
    </style> -->
    <!-- <style type="text/css">
      .container{
        top: 200px;
        left: 400px;
      }
    </style> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <script src="val.js" type="text/javascript"></script> -->
</head>
<body>
  <form data-toggle="validator" role="form">
    <div class="text-center">
      <div class="container" >
        <h1> Fill Out The Form</h1>
        <form>
          <div class="form-group">
            <label for="email"> First Name </label>
            <div class="input-group" id="pehlanaam">
              <span class="input-group-addon">
         <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" ng-model="firstnameaj" class="form-control" id="firstname" placeholder="first name" />
            </div>
            <div id="helpfname"></div>
            <div> please dont enter any spaces</div>

          </div>

          <div class="form-group">
            <label for="email" class="control-label"> Last Name </label>
            <div class="input-group" id="aakhrinaam">
              <span class="input-group-addon">
         <span class="glyphicon glyphicon-plus"></span>
              </span>
              <input type="text" ng-model="lastnameaj" class="form-control" id="lastname" placeholder="lastname" />
            </div>
            <div id="helplname"></div>
            <div> please dont enter any spaces</div>
          </div>

          <div class="form-group">
            <label for="email" class="control-label">  Email address</label>
            <div class="input-group" id="pata">
              <span class="input-group-addon">
         <span class="glyphicon glyphicon-envelope"></span>
              </span>
              <input type="email" class="form-control" id="email" placeholder="abc@example.com" required>
            </div>
          </div>
          <div background-color: red; id="helpename"></div>
          <div class="form-group">
            <label for="inputPassword" class="control-label"> Create Password:</label>
            <div class="input-group" id="passwordchange">
              <span class="input-group-addon">
         <span class="glyphicon glyphicon-lock"></span>
              </span>
              <input type="Password" title="Please Follow Specification" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$" name="pass" placeholder="Enter Password" class="form-control" id="password">
            </div>
            <div class="help-block">8 to 15 long - atleast 1 upper-case, 1 lower-case 1 number and <span data-toggle="tooltip" title="The symbols ! @ # $ % ^ & * ( )"> <ins>  1 special character </ins> </span></div>
            <div id="helppass"></div>
          </div>
          <div class="form-group">
            <label for="pwd"> Renter Password:</label>
            <div class="input-group" id="phirse">
              <span class="input-group-addon">
         <span class="glyphicon glyphicon-repeat"></span>
              </span>
              <input required id="cpassword" type="Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$" name="cpass" class="form-control" placeholder="Re-enter Password">
            </div>
            <div id="helprepass"></div>
          </div>
          <div class="form-group">
            <label>pass word hint (optional)</label>
          </div>


          <div class="form-group">
            <label for="exampleSelect1">Gender</label>
            <select class="form-control" id="exampleSelect1">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>   
    </select>
          </div>
          <br>
          <label for="exampleSelect1">Country</label>
          <select class="form-control" id="exampleSelect1" required="">
      <option>America</option>
      <option>Afghanistan</option>
      <option>France</option>
      <option>Greece</option>
      <option>Greenland</option>
      <option>Paris</option> 
      <option>India</option>
      <option>Pakistan</option>  
    </select>

          <br>
          <br>
          <div class="form-group">
            <label for="email">Cell Number </label>
            <div class="input-group" id="kaluano">
              <span class="input-group-addon">
      <span class="glyphicon glyphicon-phone"></span>
              </span>
              <input type="text" class="form-control" id="tokenfield" placeholder="6655566500" />
            </div>
            <div id="helpcellnumber"></div>
          </div>
          <br>
           Accept the terms and conditions:<input type="checkbox" name="checbox1" id="checkbox1">
          <br>

          <button type="submit" class="btn btn-success" id="submitbutton">Submit</button>
          <!-- <button type="submit" class="btn btn-default"></button> -->
          <!-- <button class="btn btn-danger" href="./cube.html">cube</button>
    <button class="btn btn-info" onclick="passwordcheckfn()" >form with angular</button> -->

      </div>
    </div>
    </form>
    <!--
    <div class="row">
      <form role="form" class="form-inline">      
      <div class="form-group">
        <label for="selectUser">Select:</label>
        <select id="selectUser" class="form-control selectWidth">
          <option class="">One</option>
          <option class="">Two</option>
          <option class="">Three</option>
        </select>
      </div>
      </form>
    </div> -->

    <!-- <script type="text/javascript">
  function hellofunction(){
    alert("hey there");
  }
</script> -->
    <!-- <script type="text/javascript">
  function functionchangecolour(){
    var newname;
    newname= document.getElementById('firstname');
    if (newname != "dd"){
      alert(newname);
    }

  }
    }
</script> -->
<script type="text/javascript">
  // document,getElementById("cid").style.top = "200px";

  document.getElementById("submitbutton").addEventListener("click", tocheck);
  document.getElementById("submitbutton").addEventListener("click", passwordcheckfn);
  document.getElementById("submitbutton").addEventListener("click", emailvalidate);
  function tocheck(){
    var check1 = document.getElementById('checkbox1');
    var pass1 = document.getElementById("cpassword").value;
    var pass2 = document.getElementById("password").value;
    var lastnamejs = document.getElementById("lastname").value;
    var mailid1 = document.getElementById("email");
    var emailjs = mailid1.value;
    var pata = document.getElementById("pata");
    var i=0;
    if (!check1.checked) {
       alert('please accept the terms and conditions');
    }
    else{
       // alert( pass1 + "   "+pass2 + "these donot match");
    }
    var firstnamejs = document.getElementById("firstname").value;
    var pehlanaam = document.getElementById("pehlanaam");
    var aakhrinaam = document.getElementById("aakhrinaam");
    var namex =document.getElementById("helpfname");
    var mailidkihelp =document.getElementById("helpename");

    if (firstnamejs=="") {

      // var namex =document.getElementById("helpfname");
      namex.innerHTML ="hey there you went wrong";
      namex.style.color = "red";
     
      pehlanaam.classList.add('has-error');
    }
    else{
      while(i<firstnamejs.length){
        i++;
        var character = firstnamejs.charAt(i);
        if (character=' ') {
          pehlanaam.classList.add('has-error');
          break;
        }
      else{
      pehlanaam.classList.remove('has-error');
      pehlanaam.classList.add('has-success');
      namex.innerHTML ="";
    }
    }
  }
     var naamkahint = document.getElementById("helplname");
    
    if (lastnamejs=="") {
      naamkahint.innerHTML ="hey there you went wrong";
      naamkahint.style.color="red";
      aakhrinaam.classList.add('has-error');
    }
    else{
      while(i<lastnamejs.length){
        i++;
        var character = lastnamejs.charAt(i);
        if (character=' ') {
          aakhrinaam.classList.add('has-error');
          break;
        }
      else{
      aakhrinaam.classList.remove('has-error');
      aakhrinaam.classList.add('has-success');
      naamkahint.innerHTML ="";
    }
    }
  }
    if (emailjs=="") {
       mailidkihelp.innerHTML ="hey there you went wrong";
       mailidkihelp.style.color="red";
       pata.classList.add('has-error');
    }
    else{
      pata.classList.remove('has-error');
      pata.classList.add('has-success');
      mailidkihelp.innerHTML ="";
    }
  }
  function passwordcheckfn(){
          var passjs = document.getElementById("password").value;
          var repassjs = document.getElementById("cpassword").value;
          var passwordkihelp = document.getElementById("helppass");
          var passwordchange =document.getElementById('passwordchange');
          var phirse = document.getElementById('phirse');
          var passlenghtjs = passjs.length ;
          var i=1;
          var character = " ";
          var countuc=0;
          var countlc = 0;
          var countn=0;
          // alert(passlenghtjs);
           if (passlenghtjs>15||passlenghtjs<8) {
              document.getElementById("helppass").innerHTML="please the fill in the specified number of character";
              document.getElementById("helppass").style.color = "red";
              passwordchange.classList.add('has-error');
           }
           else{
              //alert("im in the else loop");
              while(i<=passlenghtjs){
                character = passjs.charAt(i);
                if (character == character.toUpperCase() ) {
                  countuc++;
                }
                if (character == character.toLowerCase()) {
                  countlc++;
                }
                if(!isNaN(character * 1)){
                  countn++;
                }
                i++;
              } 
              countlc--;
              countuc--;
              countn--;
              // alert(countlc);
              // alert(countn);
              // alert(countuc);                
            
              if(countuc||countlc||countn){
                passwordkihelp.innerHTML="there youve mistaken";
                passwordkihelp.style.color = "red";
                passwordchange.classList.add('has-error');
              }
              else{
                passwordchange.classList.remove('has-error');
                passwordchange.classList.add('has-success');
                document.getElementById("helppass").innerHTML="";
              }
            } 
            if(repassjs!=passjs){
              document.getElementById("helprepass").innerHTML="these dont match";
              document.getElementById("helprepass").style.color = "red";
              phirse.classList.add('has-error');
            }
            else{
              phirse.classList.remove('has-error')
              phirse.classList.add('has-success');
            }
    }
    function emailvalidate(){
      var emailjs = document.getElementById("tokenfield").value;
      var kaluano = document.getElementById('kaluano');
      var character = " ";
      var i = 0;
      i = emailjs.length;
      // alert(i+ " is the length of the phone number" );
      if(i!=10){
        document.getElementById("helpcellnumber").innerHTML="sorry please enter the correct format of the Number";
        document.getElementById("helpcellnumber").style.color= "red";
        kaluano.classList.add('has-error');
      }
      else{
        for ( i = 0; i <10; i++) {
        character = emailjs.charAt(i);
          if (isNaN(character * 1) ) {
            document.getElementById("helpcellnumber").innerHTML="sorry please enter the correct format of the Number";
            document.getElementById("helpcellnumber").style.color= "red";
            kaluano.classList.add('has-error');
            break;  
          }
          else{
            kaluano.classList.remove('has-error');
            kaluano.classList.add('has-success');
          }
        }
      }    
    }
    // function stereotype(){
    //  document.getElementById0("firstname").styel.background-color= "yellow";
    // }

</script>

</body>
</html>
